.add-task-bottom{
    position: absolute;
    bottom: 0px;
    background-color: #3f51b5;
    padding-top: 1rem;
    padding-bottom: 1px;
    width:100%;
}

.left{
    text-align: end;
}

.add-task-bottom .col input{
    color: white;
    font-size:18px;
}