.add-task-bottom{
    /* position: sticky; */
    /* bottom: 20px; */
    background-color: #3f51b5;
    padding-top: 1rem;
    padding-bottom: 1px;
}

.left{
    text-align: end;
}

.add-task-bottom .col input{
    color: white;
    font-size:18px;
}